/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  font-weight: 400;
  max-width: 1600px;
  margin: 0 auto;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 3000px) {
  .container {
    width: 94%;
  }
}

.carusel {
  z-index: -1;
}

.icon {
  background-color: gray;
}

.icon:hover {
  fill: #F16D7F;
}

.header {
  background-color: #222222;
  position: relative;
}

.header__nav {
  display: none;
  position: absolute;
  width: 232px;
  min-height: 764px;
  right: 0;
  top: 75px;
  background-color: #FFFFFF;
  padding-left: 34px;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__input {
  padding-left: 20px;
}

.header__input--text {
  background-color: #5D5D5D;
  color: white;
  border-radius: 5px;
  border-bottom: 1px solid #E1E1E1;
}

.header__burger:hover + .header__nav,
.header__burger:focus + .header__nav {
  display: block;
}

.header__nav-cross {
  display: flex;
  flex-direction: row-reverse;
}

.header__nav-cross-img {
  margin: 16px 16px 0 0;
}

.header__nav-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 24px;
}

.header__nav-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
}

.header__nav-item-padding {
  padding-top: 20px;
}

.header__wrp {
  display: flex;
  align-items: center;
  min-height: 75px;
  justify-content: space-between;
}

.header__menu-list {
  display: flex;
  align-items: center;
}

.header__burger {
  border: none;
  background-color: transparent;
}

.header__logo {
  margin-right: 41px;
}

.header__link {
  margin-left: 33px;
}

.header__search-icon {
  fill: white;
  padding-top: 10px;
}

.header__search-icon:hover {
  fill: coral;
  cursor: pointer;
}

.header__search-icon:active {
  fill: crimson;
}

.header__burger-icon {
  fill: white;
}

.header__burger-icon:hover {
  fill: coral;
}

.header__burger-icon:active {
  fill: crimson;
}

.header__burger:focus {
  outline: 2px solid green;
}

.header__link:focus {
  outline: 2px solid green;
}

.header__person-icon {
  fill: white;
}

.header__person-icon:hover {
  fill: coral;
}

.header__person-icon:active {
  fill: crimson;
}

.header__bascket-icon {
  fill: white;
}

.header__bascket-icon:hover {
  fill: coral;
}

.header__bascket-icon:active {
  fill: crimson;
}

@media (max-width: 767px) {
  .header__link {
    display: none;
  }
}

.nav-item__title {
  padding-top: 11px;
  padding-left: 20px;
  opacity: 0.6;
}

.nav-item__title:hover {
  opacity: 1;
  cursor: pointer;
}

.nav-item__title:active {
  color: coral;
}

.brand {
  display: flex;
  margin-bottom: 64px;
}

@media (max-width: 1599px) {
  .brand {
    margin-bottom: 35px;
  }
}

@media (max-width: 767px) {
  .brand {
    margin-bottom: 64px;
  }
}

.brand__title-wrp {
  flex-grow: 1;
  background-color: #F1E4E6;
  padding-left: 92px;
  display: flex;
  align-items: center;
}

.brand__img {
  height: 765px;
  width: 50%;
}

.brand__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
}

.brand__title-lower {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  display: block;
}

.brand__title-pink {
  color: #F16D7F;
}

.brand__title-border {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}

@media (max-width: 1599px) {
  .brand__img {
    height: 100%;
  }
  .brand__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 53px;
  }
  .brand__title-lower {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }
  .brand__title-wrp {
    padding-left: 40px;
  }
}

@media (max-width: 767px) {
  .brand__title {
    font-weight: 900;
    font-size: 38px;
    line-height: 45px;
  }
  .brand__img {
    display: none;
  }
  .brand__title-lower {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }
  .brand__title-wrp {
    padding-left: 56px;
    min-height: 363px;
  }
}

.sales__item {
  height: 260px;
  width: 360px;
  background-color: #4e4544;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1599px) {
  .sales__item {
    height: 167px;
    width: 31%;
  }
}

@media (max-width: 767px) {
  .sales__item {
    width: 100%;
    height: 247px;
    margin-bottom: 32px;
  }
}

.sales__item--women {
  background-image: url(../img/sales_women.jpg);
}

@media (max-width: 1599px) {
  .sales__item--women {
    background-position: inherit;
  }
}

.sales__item--men {
  background-image: url(../img/sales_men.jpg);
  margin: 0 0 20px 0;
}

@media (max-width: 1599px) {
  .sales__item--men {
    margin: 0 0 20px 0;
    background-position: inherit;
  }
}

.sales__item--kids {
  background-image: url(../img/sales_kids.jpg);
}

@media (max-width: 1599px) {
  .sales__item--kids {
    background-position: inherit;
  }
}

.sales__item--whoes {
  background-image: url(../img/sales_groupe.jpg);
  width: 100%;
  height: 180px;
  margin-bottom: 97px;
}

@media (max-width: 1599px) {
  .sales__item--whoes {
    height: 117px;
    margin-bottom: 154px;
  }
}

@media (max-width: 767px) {
  .sales__item--whoes {
    height: 111px;
    width: 100%;
    margin-bottom: 65px;
  }
}

.sales__item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #FFFFFF;
}

.sales__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #F16D7F;
}

.sales__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.products__combain {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
}

@media (max-width: 1599px) {
  .products__combain {
    margin-bottom: 72px;
  }
}

@media (max-width: 767px) {
  .products__combain {
    margin-bottom: 64px;
  }
}

.products__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
}

.products__sub-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.products__item-img {
  width: 360px;
  height: 420px;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1599px) {
  .products__list {
    justify-content: space-evenly;
  }
}

.products-container {
  max-width: 1140px;
  margin: 0 auto;
}

.products__item-margin {
  margin-left: 30px;
  margin-right: 30px;
}

@media (max-width: 767px) {
  .products__item-margin {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 1599px) {
  .products__item-margin {
    margin-left: 0;
    margin-right: 0;
  }
}

.products__box {
  padding-left: 16px;
  padding-bottom: 20px;
  padding-top: 25px;
  padding-right: 28px;
}

.products__item-title {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  padding-bottom: 12px;
}

.products__item-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  padding-bottom: 18px;
}

.products__item-price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.products__item {
  background-color: #F8F8F8;
  width: 360px;
  margin-bottom: 30px;
  position: relative;
}

.products-wrapper-overlay::before {
  content: '';
  min-height: 420px;
  width: 100%;
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  top: 0;
}

.products-wrapper-overlay::before {
  display: none;
}

.products__item:hover .products-wrapper-overlay::before {
  display: block;
}

.products__item:hover .products__item-button {
  display: block;
}

.products__box-end {
  display: flex;
  align-items: center;
}

.products__text-original {
  padding-left: 11px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.products__item-button:hover {
  border: 1px solid coral;
}

.products__item-button:active {
  border: 1px solid crimson;
}

.products__item-button:hover .products__text-original {
  color: #9F9F9F;
}

.products__item-button {
  display: none;
  position: absolute;
  top: 33%;
  left: 33%;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  background-color: transparent;
  padding: 9px 13px;
  cursor: pointer;
}

.advantages {
  background-color: #222224;
  padding: 103px 0;
}

@media (max-width: 1599px) {
  .advantages {
    padding-bottom: 64px;
    padding-top: 0;
  }
}

@media (max-width: 1599px) {
  .advantages {
    padding-bottom: 81px;
  }
}

.advantages__item {
  display: flex;
  width: 360px;
  flex-direction: column;
  align-items: center;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1599px) {
  .advantages__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.advantages__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  margin-bottom: 16px;
}

.advantages__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.advantages__img-car {
  margin-bottom: 28px;
}

@media (max-width: 1599px) {
  .advantages__img-car {
    margin-top: 48px;
  }
}

.advantages__img-sales {
  margin-bottom: 20px;
}

@media (max-width: 1599px) {
  .advantages__img-sales {
    margin-top: 48px;
  }
}

.advantages__img-king {
  margin-bottom: 25px;
}

@media (max-width: 1599px) {
  .advantages__img-king {
    margin-top: 48px;
  }
}

.footer__start {
  background-image: url(../img/sea.jpg);
  min-height: 448px;
}

@media (max-width: 1599px) {
  .footer__start {
    background-size: cover;
  }
}

.footer__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 126px;
}

@media (max-width: 1599px) {
  .footer__text {
    margin-bottom: 48px;
  }
}

@media (max-width: 767px) {
  .footer__text {
    margin-bottom: 59px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}

.footer__img {
  margin-bottom: 30px;
  margin-top: 87px;
}

@media (max-width: 1599px) {
  .footer__img {
    margin-top: 53px;
  }
}

.footer__middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1599px) {
  .footer__middle {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .footer__middle {
    margin-top: 100px;
  }
}

.footer__middle-wrp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
}

.footer__middle-wrp-input {
  width: 255px;
  height: 49px;
  box-sizing: border-box;
  border-radius: 25px 0 0 25px;
  border: none;
  background-color: #E1E1E1;
  padding-left: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  color: #222224;
  opacity: 0.67;
}

.footer__middle-wrp-button {
  width: 100px;
  height: 49px;
  background-color: #F16D7F;
  box-sizing: border-box;
  border-radius: 0 25px 25px 0;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.footer__middle-wrp-form {
  display: flex;
  margin-top: 32px;
}

@media (max-width: 1599px) {
  .footer__middle-wrp-form {
    margin-top: 27px;
    margin-bottom: 140px;
  }
}

@media (max-width: 767px) {
  .footer__middle-wrp-form {
    margin-bottom: 109px;
  }
}

.footer__middle-wrp-input:hover {
  background-color: #fffcf9;
  border: 1px solid red;
}

.footer__middle-wrp-input :focus {
  outline: 3px solid green;
}

.footer__middle-wrp-button :hover {
  background-color: #b92222;
  color: #ffebd3;
}

.footer__middle-wrp-button:active {
  background-color: #161414;
}

.footer__middle-wrp-button:focus {
  outline: 2px solid green;
}

.footer__end {
  background-color: #222224;
}

.footer__end-container {
  min-height: 79px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .footer__end-container {
    flex-direction: column-reverse;
    justify-content: center;
    padding-top: 43px;
    min-height: auto;
    padding-bottom: 9px;
  }
}

.footer__end-list {
  display: flex;
}

.footer__end-box-second {
  margin: 40px;
}

.footer__end-item {
  margin-right: 7px;
  list-style-type: none;
}

.footer__end-link:focus {
  outline: 1px solid green;
}

.footer__end-link {
  width: 32px;
  height: 32px;
  background-color: #F8F8F8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__end-link:hover {
  background-color: #F16D7F;
}

.footer__end-link:active {
  background-color: #633800;
}

.footer__end-link:hover .footer__end-img {
  fill: white;
}

.footer__end-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer__end-link .footer__end-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.form__registration {
  margin-top: 64px;
  margin-bottom: 96px;
  width: 360px;
}

@media (max-width: 1599px) {
  .form__registration {
    padding-left: 16px;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .form__registration {
    padding-right: 8px;
    padding-left: 8px;
  }
}

.form__legend--text {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.form__radio {
  padding-top: 32px;
  padding-bottom: 32px;
}

.form__radio--text {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  padding-left: 10px;
  padding-right: 20px;
}

.form__button {
  width: 167px;
  height: 50px;
  background-color: #F16D7F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__button--text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding-right: 20px;
}

.form__block {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .form__block {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.form__block-container {
  max-width: 1140px;
  margin: 0 auto;
}

.form__button:hover {
  background-color: red;
}

.form__button:active {
  background-color: black;
}

.form__button:focus {
  outline: 5px solid coral;
}

.form__first {
  display: flex;
  flex-direction: column;
}

.form__second {
  display: flex;
  flex-direction: column;
}

.form__text {
  max-width: 359px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  padding-top: 15px;
  padding-bottom: 39px;
}

@media (max-width: 767px) {
  .form__text {
    padding-bottom: 39px;
  }
}

.form__info {
  max-width: 652px;
}

.form__info--item {
  padding-top: 16px;
}

.form__info--item--padding {
  padding-top: 21px;
}

.form__info--section {
  margin-top: 64px;
}

@media (max-width: 1599px) {
  .form__info--section {
    padding-left: 22px;
    padding-right: 16px;
  }
}

@media (max-width: 767px) {
  .form__info--section {
    margin-top: 0;
  }
}

.form__info--title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding-bottom: 22px;
}

@media (max-width: 1599px) {
  .form__info--title {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
}

.form__info--text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

@media (max-width: 1599px) {
  .form__info--text {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
}

.form__info--item--text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

@media (max-width: 1599px) {
  .form__info--item--text {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
}

.form__info--item::before {
  list-style-image: url(/img/jackdaw.svg);
}

.form__info--item--img {
  margin-right: 23px;
}

.forma__text {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
}

.forma__text-sub {
  font-weight: 700;
  font-size: 24px;
  line-height: 167%;
  text-align: center;
  color: #222224;
  text-transform: uppercase;
  display: block;
}

.lean__more {
  text-decoration: none;
  color: #F26376;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  border: 1px #FF6A6A;
  display: block;
  border: 1px solid #FF6A6A;
  padding: 15px 39px;
}

.lean__more:hover {
  background-color: #F16D7F;
  color: white;
}

.lean__more:active {
  border-color: crimson;
}

.lean__more-end {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 19px;
  margin-bottom: 95px;
}

@media (max-width: 1599px) {
  .lean__more-end {
    margin-bottom: 65px;
    margin-top: 2px;
  }
}

@media (max-width: 767px) {
  .lean__more-end {
    margin-top: 11px;
    margin-bottom: 96px;
  }
}

.lean__more:focus {
  outline: 2px solid green;
}

input::placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration__input {
  width: 360px;
  margin-top: 20px;
  height: 45px;
  padding-left: 17px;
}

@media (max-width: 1599px) {
  .registration__input {
    width: 337px;
  }
}

.registration__input:hover {
  background-color: #F16D7F;
  border: 2px solid #ae00ff;
}

.registration__input:active {
  background-color: #ff0077;
  border: 2px solid #00ff2a;
}

.registration__input:focus {
  outline: 5px solid green;
}

.registration__background {
  background-color: #F8F3F4;
  min-height: 148px;
  display: flex;
  align-items: center;
}

.registration__background--text {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}

.registration__background--box {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .registration__background--box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.product__background--list {
  display: flex;
}

@media (max-width: 767px) {
  .product__background--list {
    margin-top: 32px;
  }
}

.product__background--item--choose {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.product__background--item--choose:hover {
  color: #F16D7F;
}

.product__background--item {
  padding-left: 5px;
  padding-right: 5px;
}

.product__background--item--padding {
  padding-left: 5px;
}

.product__dropdowns {
  display: flex;
  justify-content: center;
}

.product__title {
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  padding-top: 65px;
  padding-bottom: 12px;
}

.product__title--lower {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-top: 12px;
  margin-bottom: 48px;
}

.product__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  margin: 0 auto;
  max-width: 555px;
  padding-bottom: 32px;
}

.product__price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  text-align: center;
}

.product__line {
  height: 3px;
  width: 63px;
  background-color: #EF5B70;
  margin: 0 auto;
}

.product__cartbox {
  border: 1px solid #EAEAEA;
  margin-top: -65px;
  background-color: #FFFFFF;
  margin-bottom: 129px;
  margin-top: -65px;
  position: relative;
}

@media (max-width: 1599px) {
  .product__cartbox {
    margin-top: 0;
    width: 100%;
  }
}

.product__line--under {
  max-width: 641px;
  margin: 0 auto;
  margin-bottom: 65px;
  margin-top: 65px;
}

.product__dropdowns--button {
  background-color: white;
  color: #6F6E6E;
  border: none;
}

@media (max-width: 767px) {
  .product__dropdowns--button {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #6F6E6E;
  }
}

.product__dropdowns--button:hover {
  background-color: white;
  color: #6F6E6E;
  border: none;
}

.product__dropdowns--button:active {
  background-color: white;
  color: #6F6E6E;
  border: none;
}

.product__button--box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__button {
  border: 1px solid #FF6A6A;
  padding: 14px 56px 13px 23px;
  display: flex;
  text-align: center;
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 65px;
}

.product__button:hover {
  background-color: black;
}

.product__button:active {
  background-color: rosybrown;
}

.product__button--img {
  fill: #EF5B70;
}

.product__button--text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  padding-left: 23px;
}

.product__dropdowns--list {
  margin-right: 22px;
  margin-left: 22px;
}

@media (max-width: 768px) {
  .product-item {
    display: none;
  }
}

@media (max-width: 1599px) {
  .product__list {
    margin-bottom: 129px;
  }
}

.product__box--link {
  text-decoration: none;
}

.product__box--link:hover .products__item-title {
  color: #EF5B70;
}
