.advantages {
    background-color: #222224;
    padding: 103px 0;

    @include tablet {
        padding-bottom: 64px;
        padding-top: 0;
    }

    @include tablet {
        padding-bottom: 81px;
    }

    &__item {
        display: flex;
        width: 360px;
        flex-direction: column;
        align-items: center;
    }

    &__list {
        display: flex;
        justify-content: space-between;

        @include tablet {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    &__title {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #FBFBFB;
        margin-bottom: 16px;
    }

    &__text {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB;
    }

    &__img-car {
        margin-bottom: 28px;

        @include tablet {
            margin-top: 48px;
        }
    }

    &__img-sales {
        margin-bottom: 20px;

        @include tablet {
            margin-top: 48px;
        }
    }

    &__img-king {
        margin-bottom: 25px;

        @include tablet {
            margin-top: 48px;
        }
    }
}