.footer {
    &__start {
        background-image: url(../img/sea.jpg);
        min-height: 448px;
    }

    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        margin-bottom: 126px;
    }

    &__img {
        margin-bottom: 30px;
        margin-top: 87px;
    }
}