.footer__end {
    background-color: #222224;

    &-container {
        min-height: 79px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-list {
        display: flex;
    }

    &-item {
        margin-right: 7px;
        list-style-type: none;
    }

    &-link {
        &:focus {
            outline: 1px solid green;
        }
    }

    &-link {
        width: 32px;
        height: 32px;
        background-color: #F8F8F8;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-link {
        &:hover {
            background-color: #F16D7F;
        }
    }

    &-link {
        &:active {
            background-color: #633800;
        }
    }

    &-link {
        &:hover {
            .footer__end-img {
                fill: white;
            }
        }
    }


    &-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;
    }

    &-link .footer__end-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;
    }
}