.form__info {
    max-width: 652px;

    &--item {
        padding-top: 16px;
        
    }

    &--item--padding {
        padding-top: 21px;
    }

    
    &--section {
        margin-top: 64px;

        @include tablet {
            padding-left: 22px;
            padding-right: 16px;
        }
        @include mobile {
            margin-top: 0;
        }
    }

    &--title {
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        padding-bottom: 22px;

        @include tablet {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
        }
    }

    &--text {
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #000000;

        @include tablet {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
        }
    }

    &--item--text {
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #000000;

        @include tablet {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
        }
    }

    &--item {
        &::before {
            list-style-image: url(/img/jackdaw.svg);
        }
    }

    &--item--img {
        padding-right: 23px;
    }
}